@use 'styles/breakpoints' as *;

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 105px;
    padding-right: 111px;
    color: white;
    gap: 70px;
    margin-bottom: 104px;

    @include respond(lg) {
        padding-left: 40px;
        padding-right: 60px;
        gap: 30px;
    }

    @include respond(sm) {
        display: unset;
        padding-left: 15px;
        padding-right: 15px;
    }


    >div {
        >img {
            width: 490px;
            height: 452px;

            @include respond(xl) {
                width: 450px;
                height: 412px;
            }

            @include respond(lg) {
                width: 350px;
                height: 340px;
            }

            @include respond(md) {
                display: none;
            }
        }
    }
}

.why-me-content {
    display: flex;
    flex-direction: column;
    max-width: 670px;

    @include respond(sm) {
        max-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.why-me-description {
    text-align: end;
    margin-bottom: 16px;

    >h1 {
        color: #E15544;
        font-size: 54px;
        margin-bottom: 29px;

        @include respond(sm) {
            font-size: 32px;
        }
    }

    >p {
        color: #02F4BF;
        font-size: 16px;
    }

    @include respond(sm) {
        text-align: center;
    }
}

.img-animation {
    transition: opacity 0.7s ease;
}

.vector-imgs {
    position: relative;

    .vector {
        opacity: 1;

    }

    .vector-hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include respond-mobile {
        &:hover {
            .vector {
                opacity: 0;
            }

            .vector-hover {
                opacity: 1;
            }
        }
    }
}

.i-am-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include respond(sm) {
        gap: 16px;
    }
}

.i-am-located {
    display: flex;
    gap: 64px;
    padding-left: 100px;

    >h2 {
        color: #E15544;
        font-size: 48px;

        @include respond(sm) {
            font-size: 18px;
        }
    }

    >div {
        display: flex;
        align-items: center;
        gap: 17px;

        >p {
            color: #02F4BF;
            font-size: 18px;
        }

        @include respond(sm) {
            gap: 8px;
        }
    }

    @include respond(xl) {
        padding-left: unset;
    }

    @include respond(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}

.i-am-relocate {
    display: flex;
    justify-content: end;
    gap: 208px;
    padding-right: 55px;

    >img {
        @include respond(sm) {
            display: none;
        }
    }

    >div {
        display: flex;
        align-items: center;
        gap: 16px;

        >p {
            color: #02F4BF;
            font-size: 18px;
        }
    }

    @include respond(xl) {
        padding-left: 150px;
    }

    @include respond(sm) {
        justify-content: center;
        padding-left: unset;
        padding-right: unset;
    }
}

.suitcase-imgs {
    position: relative;

    .suitcase-hover {
        opacity: 1;
    }

    .suitcase-hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include respond-mobile {
        &:hover {
            .suitcase {
                opacity: 0;
            }

            .suitcase-hover {
                opacity: 1;
            }
        }
    }
}

.i-am-remote {
    display: flex;
    justify-content: end;
    gap: 125px;

    >div {
        display: flex;
        align-items: center;
        gap: 16px;

        .remote-icon {
            padding-bottom: 10px;
        }

        >p {
            color: #02F4BF;
            font-size: 18px;
        }
    }

    @include respond(sm) {
        justify-content: center;
    }
}

.remote-hover {
    opacity: 0;
    position: absolute;
    top: -7px;
    left: -8px;
}

.remote-imgs {
    position: relative;

    .img-animation-remote {
        transition: opacity 0.8s ease;
    }

    @include respond-mobile {
        &:hover {
            .remote-icon {
                opacity: 0;
            }

            .remote-hover {
                opacity: 1;
            }
        }
    }
}

.i-am-talk {
    display: flex;
    justify-content: end;
    margin-top: 33px;

    >button {
        width: 169px;
        height: 52px;
        background-color: #02F4BF;
        border: none;
        font-weight: bold;
        font-size: 18px;

        &:hover {
            cursor: pointer;
            color: #E15544;
        }
    }

    @include respond(sm) {
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 40px;
    }
}

.multiline {
    white-space: pre-line;

    @include respond(sm) {
        white-space: unset;
    }
}

.mobile-arrow-left {
    display: none;

    @include respond(sm) {
        display: flex;
        margin-bottom: 8px;
    }
}

.mobile-arrow-right {
    display: none;

    @include respond(sm) {
        display: flex;
        justify-content: end;
        margin-top: 8px;
    }
}

.vector,
.suitcase {
    @include respond(sm) {
        width: 26px;
    }
}

p {
    @include respond(sm) {
        font-size: 16px !important;
    }
}

.remote-arrow-up,
.remote-arrow-down {
    @include respond(sm) {
        display: none;
    }
}