<section class="main-content">
    <div>
        <img src="assets/img/personal-photos/avatar.png" alt="">
    </div>
    <div class="why-me-content">
        <div class="why-me-description">
            <h1>Why me</h1>
            <p>
                Write some information about yourself that is IT related.
                Why are you passionate about coding? Highlight your motivation for professional growth and continuous
                learning.
                Emphasise your strong problem-solving skills and passion for coding.
            </p>
        </div>
        <div class="i-am-content">
            <div class="i-am-located">
                <h2>I am</h2>
                <div class="vector-imgs">
                    <img class="vector img-animation" src="assets/img/icons/vector.svg" alt="">
                    <img class="vector-hover img-animation" src="assets/img/icons/vector-hover.svg" alt="">
                    <p>located <br>
                        in Aschaffenburg
                    </p>
                </div>
            </div>
            <div class="i-am-relocate">
                <img src="assets/img/icons/arrow-bow-down.svg" alt="">
                <div class="suitcase-imgs">
                    <img class="suitcase img-animation" src="assets/img/icons/suitcase.svg" alt="">
                    <img class="suitcase-hover img-animation" src="assets/img/icons/suitcase-rotate.svg" alt="">
                    <p>open to <br>
                        relocate
                    </p>
                </div>
            </div>
            <div class="i-am-remote">
                <div class="remote-imgs">
                    <img class="remote-icon img-animation-remote" src="assets/img/icons/remote.svg" alt="">
                    <img class="remote-hover img-animation-remote" src="assets/img/icons/remote-hover.svg" alt="">
                    <p>open to <br>
                        work remote
                    </p>
                    <img src="assets/img/icons/arrow-bow-up.svg" alt="">
                </div>
                <img src="assets/img/icons/arrow-curved-down.svg" alt="">
            </div>
        </div>
        <div class="i-am-talk">
            <button>Let's talk</button>
        </div>
    </div>
</section>