@use 'styles/breakpoints' as *;

.single-project-content {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 64px;
    padding-left: 105px;
    padding-right: 111px;

    >div {

        >img {
            filter: brightness(85%);

            &:hover {
                filter: brightness(100%);
            }

            @include respond(md) {
                width: 398px;
            }

            @include respond(sm) {
                max-width: 398px;
                width: 100%;
            }
        }
    }

    @include respond(xl) {
        gap: 60px;
    }

    @include respond(lg) {
        gap: 48px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include respond(sm) {
        flex-direction: column;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 70px;
        gap: 24px;
        padding-left: unset;
        padding-right: unset;
    }
}

.single-project-content.reverse {
    flex-direction: row-reverse;

    @include respond(sm) {
        flex-direction: column;
    }
}

.single-project-img {
    display: flex;
    max-width: 588px;
    max-height: 370px;
}

.single-project-infos {
    max-width: 540px;
    position: relative;
    top: -14px;

    >h1 {
        font-size: 48px;
        color: #02F4BF;
        margin-bottom: 17px;

        @include respond(md) {
            font-size: 40px;
        }

        @include respond(sm) {
            font-size: 24px;
            margin-bottom: 16px;
        }
    }

    >div {
        >p {
            font-size: 18px;
            color: #02F4BF;
        }

        >a {
            text-decoration: none;
            display: inline-block;
        }

        .single-project-description {
            @include respond(sm) {
                font-size: 16px;
            }
        }
    }

    @include respond(sm) {
        text-align: center;
    }

}

.single-project-infos.text-reverse {
    text-align: end;

    @include respond(sm) {
        text-align: center;
    }
}

.btn-git {
    border: 1px solid #02F4BF;
    color: #E15544;
    padding: 10px 33px;
}

.btn-live-test {
    padding: 11px 33px;
    background-color: #02F4BF;
    color: #0B042D;
    font-weight: bold;
    min-width: 158px;
}

.single-project-skills {
    margin-bottom: 40px;

    @include respond(md) {
        margin-bottom: 20px;
    }

    @include respond(sm) {
        margin-bottom: 24px;
    }
}

.single-project-btns {
    display: flex;
    gap: 24px;
    margin-top: 48px;

    .btn-git {
        transition: color 0.5s ease;

        &:hover {
            color: #02F4BF;
        }
    }

    .btn-live-test {
        transition: color 0.5s ease;

        &:hover {
            color: #E15544;
        }
    }

    @include respond(md) {
        margin-top: 20px;
    }

    @include respond(sm) {
        display: none;
    }
}

.single-project-btns.btn-reverse {
    justify-content: end;
}

.single-project-btns-mobile {
    display: none;

    >a {
        text-decoration: none;
        display: inline-block;
    }

    .btn-git {
        transition: color 0.5s ease;
        padding: 10px 19px;

        &:hover {
            color: #02F4BF;
        }
    }

    .btn-live-test {
        transition: color 0.5s ease;
        padding: 10px 20px;
        min-width: unset;

        &:hover {
            color: #E15544;
        }
    }

    @include respond(sm) {
        display: flex;
        gap: 24px;
    }
}

.single-project-img {
    order: 1;

    @include respond(sm) {
        order: 2;
    }
}

.single-project-infos {
    order: 2;

    @include respond(sm) {
        order: 1;
        padding-top: 10px;
    }
}

.single-project-btns-mobile {
    order: 3;
}