@use 'styles/breakpoints' as *;

.single-project-content {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 64px;
    padding-left: 105px;
    padding-right: 111px;

    >div {
        >img {
            filter: brightness(85%);

            &:hover {
                filter: brightness(100%);
            }
        }
    }
}

.single-project-content.reverse {
    flex-direction: row-reverse;
}

.single-project-infos {
    max-width: 540px;
    position: relative;
    top: -14px;

    >h1 {
        font-size: 48px;
        color: #02F4BF;
        margin-bottom: 17px;
    }

    >div {
        >p {
            font-size: 18px;
            color: #02F4BF;
        }

        >a {
            text-decoration: none;
            display: inline-block;
        }
    }

}

.single-project-infos.text-reverse {
    text-align: end;
}

.btn-git {
    border: 1px solid #02F4BF;
    color: #E15544;
    padding: 10px 33px;
}

.btn-live-test {
    padding: 11px 33px;
    background-color: #02F4BF;
    color: #0B042D;
    font-weight: bold;
    min-width: 158px;
}

.single-project-skills {
    margin-bottom: 40px;
}

.single-project-btns {
    display: flex;
    gap: 24px;
    margin-top: 48px;

    .btn-git {
        transition: color 0.5s ease;

        &:hover {
            color: #02F4BF;
        }
    }

    .btn-live-test {
        transition: color 0.5s ease;

        &:hover {
            color: #E15544;
        }
    }
}

.single-project-btns.btn-reverse {
    justify-content: end;
}