<section class="main-content-navbar content-limitation">
    <div class="navbar">
        <div class="navigation">
            <a class="logo" href="#">&lt;JH&gt;</a>
            <div>
                <a href="#">Why me</a>
                <a href="#">Skills</a>
                <a href="#">Projects</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div class="language">
            <a href="#">DE</a>
            <p>|</p>
            <a href="#">EN</a>
        </div>
    </div>

</section>