@use 'styles/breakpoints' as *;

a {
    text-decoration: none;
    color: #E15544;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
    height: 92px;

    >div {
        display: flex;
    }

    .language {
        @include respond(md) {
            display: none;
        }
    }

    @include respond(lg) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @include respond(sm) {
        padding-left: 25px;
        padding-right: 25px;
    }

}

.navigation {
    display: flex;
    align-items: center;
    gap: 48px;

    >p {
        color: #E15544;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }

        @include respond(sm) {
            font-size: 40px;
        }
    }

    >div {
        display: flex;
        gap: 32px;

        >a {
            font-size: 22px;


            &:hover {
                color: #02F4BF;
            }
        }
    }

    .navbar-links {
        @include respond(md) {
            display: none;
        }
    }
}

.logo {
    font-family: 'handjet';
    font-size: 48px;
    font-weight: bold;
}

.language {
    display: flex;
    gap: 6px;

    >a {
        font-size: 18px;

        &:hover {
            color: #02F4BF;
            cursor: pointer;
        }
    }

    >p {
        color: #E15544;
    }
}

.open-mobile-menu {
    display: none;
    border: none;
    background-color: transparent;

    @include respond(md) {
        display: flex;
    }

    &:hover img {
        cursor: pointer;
        content: url('/assets/img/icons/burger-menu-hover.svg');
    }

    >img {
        @include respond(sm) {
            width: 25px;
        }
    }

}