<section class="main-content-navbar content-limitation">
    <div class="navbar">
        <div class="navigation">
            <p (click)="scrollToTop()" class="logo" href="">&lt;JH&gt;</p>
            <div>
                <a href="#why-me">Why me</a>
                <a href="#my-skills">Skills</a>
                <a href="#my-projects">Projects</a>
                <a href="#contact-me">Contact</a>
            </div>
        </div>
        <div class="language">
            <a href="#">DE</a>
            <p>|</p>
            <a href="#">EN</a>
        </div>
    </div>

</section>