@use 'styles/breakpoints' as *;

.main-content-navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg,
            #0B042D 0%,
            #0B042D 30%,
            #0B042D 65%,
            rgba(11, 4, 45, 0.8) 80%,
            rgba(11, 4, 45, 0.7) 90%,
            rgba(11, 4, 45, 0.5) 100%);
    z-index: 100;
}

a {
    text-decoration: none;
    color: #E15544;
    font-weight: bold;
}

.navbar {
    // position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
    height: 92px;

    // background-color: #0B042D;
    >div {
        display: flex;
    }

    .language {
        @include respond(md) {
            display: none;
        }
    }

    @include respond(lg) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @include respond(sm) {
        padding-left: 25px;
        padding-right: 25px;
    }

}

.navigation {
    display: flex;
    align-items: center;
    gap: 48px;

    >p {
        color: #E15544;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }

        @include respond(sm) {
            font-size: 40px;
        }
    }

    >div {
        display: flex;
        gap: 32px;

        >a {
            font-size: 22px;


            &:hover {
                color: #02F4BF;
            }
        }
    }

    .navbar-links {
        @include respond(md) {
            display: none;
        }
    }
}

.logo {
    font-family: 'handjet';
    font-size: 48px;
    font-weight: bold;
}

.language {
    display: flex;
    gap: 6px;

    >a {
        font-size: 18px;

        &:hover {
            color: #02F4BF;
            cursor: pointer;
        }
    }

    >p {
        color: #E15544;
    }
}

.open-mobile-menu {
    display: none;
    border: none;
    background-color: transparent;

    @include respond(md) {
        display: flex;
    }

    &:hover img {
        cursor: pointer;
        content: url('/assets/img/icons/burger-menu-hover.svg');
    }

    >img {
        @include respond(sm) {
            width: 25px;
        }
    }

}