.main-content-navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg,
            #0B042D 0%,
            #0B042D 30%,
            #0B042D 65%,
            rgba(11, 4, 45, 0.8) 80%,
            rgba(11, 4, 45, 0.7) 90%,
            rgba(11, 4, 45, 0.5) 100%);
    z-index: 100;
}

a {
    text-decoration: none;
    color: #E15544;
    font-weight: bold;
}

.navbar {
    // position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
    height: 92px;
    // background-color: #0B042D;

    >div {
        display: flex;
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 48px;

    >p {
        color: #E15544;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }

    >div {
        display: flex;
        gap: 32px;

        >a {
            font-size: 22px;


            &:hover {
                color: #02F4BF;
            }
        }
    }
}

.logo {
    font-family: 'handjet';
    font-size: 48px;
    font-weight: bold;
}

.language {
    display: flex;
    gap: 6px;

    >a {
        font-size: 18px;

        &:hover {
            color: #02F4BF;
            cursor: pointer;
        }
    }

    >p {
        color: #E15544;
    }
}