@use 'styles/breakpoints' as *;

.main-content {
    position: relative;
    height: 660px;
    display: flex;
    justify-content: space-between;
    padding-left: 105px;
    padding-right: 52px;

    @include respond(lg) {
        padding-left: 40px;
    }

    >div {
        >div {
            >h1 {
                font-size: 82px;
                color: #02F4BF;

                @include respond(xl) {
                    font-size: 62px;
                }
            }

            >h2 {
                font-size: 54px;
                color: #02F4BF;

                @include respond(xl) {
                    font-size: 34px;
                }
            }
        }
    }
}

.content-right {
    height: 539px;

    @include respond(xl) {
        display: flex;
        align-items: center;
    }
}

.portrait {
    width: 539px;
    height: 554px;

    @include respond(xl) {
        width: 440px;
        height: 455px;
    }

    @include respond(md) {
        width: 340px;
        height: 355px;
    }
}

.contact-me {
    transform: rotate(270deg);
    position: absolute;
    top: 140px;
    left: -56px;
    color: #E15544;
    font-size: 18px;
    background-color: #0B042D;
    width: 169px;
    height: 52px;
    border: 1px solid #02F4BF;
    transition: color 0.5s ease;

    &:hover {
        color: #02F4BF;
        cursor: pointer;
    }
}

.content-left {
    position: relative;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.arrow-hover-container {
    position: absolute;
    top: 35%;
    left: 45%;

    >a {
        text-decoration: none;
        cursor: pointer;

        &:hover {
            position: relative;
            right: 8px;
            content: url('/assets/img/icons/arrow-down-hover.svg');
        }
    }
}

.arrow-down-hover {
    display: none;
}