<section class="main-content content-limitation">
    <div class="content-left">
        <div>
            <button class="contact-me">CONTACT ME</button>

        </div>
        <div>
            <h2 class="">FRONTEND DEVELOPER</h2>
            <h1>Julian Herzfeld</h1>
        </div>
    </div>
    <div>
        <img class="portrait" src="assets/img/personal-photos/avatar.png" alt="">
    </div>
    <div class="arrow-hover-container">
        <img class="arrow-down" src="assets/img/icons/arrow-down.svg" alt="">
        <img class="arrow-down-hover" src="assets/img/icons/arrow-down-hover.svg" alt="">
    </div>

</section>