.my-projects-content {
    padding-left: 105px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    >h1 {
        color: #E15544;
        font-size: 54px;
    }
}

.projects-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 104px;
}