@use 'styles/breakpoints' as *;

:host ::ng-deep .privacy-policy-content {
    padding-left: 105px;
    padding-right: 111px;
    margin-bottom: 88px;


    h1 {
        color: #E15544;
        font-size: 54px;
    }

    h2 {
        color: #E15544;
        font-size: 32px;
        margin-top: 35px;
    }

    h3,
    h4 {
        color: #E15544;
        font-size: 24px;
        margin-top: 35px;
    }

    p,
    li {
        color: #02F4BF;
        font-size: 18px;
        margin-top: 15px;
    }

    a {
        color: #E15544;

        &:hover {
            filter: brightness(1.5);
        }
    }

    @include respond(sm) {
        padding-left: 20px;
        padding-right: 20px;

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 23px;
        }

        h3,
        h4 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
            overflow-wrap: break-word;
        }

        a {
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
}