:host {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.overlay-wrapper {
    position: absolute;
    inset: 0;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,
            #13074E 0%,
            #13074E 40%,
            #1D0A79 80%,
            #1D0A79 100%);
    height: 430px;


    .back-btn {
        position: absolute;
        top: 22px;
        right: 22px;

        >button {
            border: none;
            background-color: transparent;

            &:hover img {
                cursor: pointer;
                content: url('/assets/img/icons/close-nav-overlay-hover.svg');
            }
        }

    }

    >nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 47px;

        .language {
            display: flex;
            gap: 6px;

            >a {
                &:hover {
                    cursor: pointer;
                }
            }

            >p {
                color: #E15544;
            }
        }
    }
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #E15544;

    &:active {
        color: #02F4BF;
        text-decoration: underline #02F4BF;
    }
}