@font-face {
    font-family: 'roboto-mono';
    src: url('assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'handjet';
    src: url('assets/fonts/Handjet-VariableFont_ELGR,ELSH,wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto-mono';
    scroll-behavior: smooth;
    scroll-padding-top: 92px;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(155deg,
            #0B042D 0%,
            #0B042D 20%,
            #1F0B7F 55%,
            #0B042D 90%,
            #0B042D 100%);
}

.navbar-bg {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg,
            #0B042D 0%,
            #0B042D 30%,
            #0B042D 65%,
            rgba(11, 4, 45, 0.8) 80%,
            rgba(11, 4, 45, 0.7) 90%,
            rgba(11, 4, 45, 0.5) 100%);
    z-index: 100;
}

.content-limitation {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 16px;
}

.d-none {
    display: none !important;
}